language: php
php:
  - '8.0'

before_script:
- composer self-update
- composer install --no-interaction

script:
    - ./vendor/bin/phpunit -- --coverage-clover=coverage.xml
    - ./vendor/bin/phpstan analyse -c phpstan.neon; ./vendor/bin/phpcs --standard=PSR12 src/ tests/

after_success:
  - bash <(curl -s https://codecov.io/bash)
